/*Custom CSS for my first website*/

* {
      margin: 0;
      padding: 0;
}
body {
      background: #fffafa;
      color: #333;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
}
.plinks {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeeligibility;
      margin: 30px
           
}
#c-header {
      background:#fffafa;
      color: #00bfff;
      padding: 30px;
      margin: 10px;
      text-align: center;
}
#cta {
      text-align: center;
      color: #00ced1;
      background: #f0ffff;
}
#coptions {
      margin-top: 5px;
      margin-left: 5px;
      color: #00ced1;
}
#container {
      width: 700px;
}
#header, #footer {
      background:#fffafa;
      color: #40E0D0;
      padding: 30px;
      margin: 10px;
      text-align:center;
}

#footer {
      font-size: 12px;
}
.lead {
      font-size: 18px;
}
.blog-post {
      background: #fffafa;
      padding: 30px;
      margin: 0 10px 10px;
}

h1,h2,h3 {
      color: #4169e1;
}
.blog-post h2, .blog-post p {
      margin-bottom: 10px
}
.blog-post em {
      color: #ccc;
}












      
