/*Custom CSS for my first website*/

* {
      margin: 0;
      padding: 0;
}
body {
      background: #fffafa;
      color: #333;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
}
#ptitle {
      text-align: center
}
.plinks {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeligibility;
      margin: 30px;
      color: #191970;
      background: #F5F5F5;
}
#c-header {
      background:#fffafa;
      color: #00bfff;
      padding: 30px;
      margin: 10px;
      text-align: center;
}
#cta {
      text-align: center;
      color: #00ced1;
      background: #f0ffff;
}
#coptions {
      margin-top: 5px;
      margin-left: 5px;
      color: #00ced1;
}
#fcontainer {
      width: 500 px;
      margin: 0 auto;
  
}
form {
      padding: 20px;
      font-family: Helvetica, Arial, sans-serif;
}
form fieldset {
      padding: 40 px;
      border: solid 1px white;
}
form legend {
      border: solid 1px #333;
      padding: 5px;
      font-size: 30px;
      font-weight: bold;
}
form input, form textarea {
      display: block;
      margin-bottom: 20px;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizelegibility;
}
form input [type="text"], form input [type="email"], form textarea {
      padding: 10px;
      font-size: 20px;
      font-family: Helvetica, Arial, sans-serif;
      color: white;
      border: solid 1px #b90707;
}
form textarea {
      width: 300px;
      height: 100px;
}
form input [type="submit"] {
      border: none;
      padding: 0 20px;
      border: solid 1 px #d4730c;
      color: white;
      font-weight: bold;
      font-family: Helvetica, Arial, sans-serif;
      cursor: pointer;
}
#container {
      width: 700px;
      text-align:auto;
}
#header, #footer {
      background:#fffafa;
      color: #40E0D0;
      padding: 30px;
      margin: 10px;
      text-align:auto;
}

#footer {
      font-size: 12px;
}
.lead {
      font-size: 18px;
}
.blog-post {
      background: #fffafa;
      padding: 30px;
      margin: 0 10px 10px;
}

h1,h2,h3 {
      color: #4169e1;
      text-align: auto;
}
.blog-post h2, .blog-post p {
      margin-bottom: 10px
}
.blog-post em {
      color: #ccc;
}
 a:link {
      color:#f42aa6;
      text-decoration:none;
}
 a: visited {
      color:purple;
}
 a:hover {
      color: #a50578;
      text-decoratin: underline;
}
 a:active {
      color: #000;
}
#main-link: hover {
      background: #333;
      color: white;
      padding: 5px;
      text-decoration: none;
}










      
